.User-List-Card{
    width: 8rem;
    margin: 5px ;
    border: none;
}
.User-List-Card:hover{
    box-shadow: 0 0 3px 0 #8080807a;
}
.User-List-Card img{
    height: 8rem;
    object-fit: cover;
}
.text{
    text-align: start;
    width: 100%;
}