:root {
    --color-rose: #F1CEDA;
    --color-purple: #C7B2D6;
    --color-darkGrey: #6B6167;
    --color-blue: #5B6CAB;
    --color-mint: #A1CDDA;
    --color-lightGrey: #DEDAD5;
}

body {
    font-family: sans-serif;
}

h1 {
    color: #C7B2D6;
}

/* NAVBAR */
.navbar {
    margin-bottom: 50px;
}

.navbar-light .navbar-brand {
    color: #5B6CAB !important;
    padding-left: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5B6CAB !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #C7B2D6 !important;
}

.search {
    margin-right: 20px;
    width: 500px !important;
}

.search-button {
    margin-right: 20px;
    color: #5B6CAB !important;
    border-radius: 30px !important;
    border-color: #5B6CAB !important;
    transition-duration: 0.6s;
}

.search-button:hover {
  background-color: #5B6CAB !important;
  color: white !important;
}

.navbar-button {
    margin-right: 20px;
    margin-right: 20px;
    border-radius: 30px;
    border: 2px solid #5B6CAB !important;
    transition-duration: 0.6s;
    border: none;
    padding: 5px 20px;
    color: #5B6CAB;
}

.navbar-button:hover {
    background-color: #5B6CAB ;
    color: white ;
    border: 2px solid #5B6CAB !important;
}

/* PROFILE PAGE */
.cover-img {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.profile-img {
    width: 35%;
    margin-top: -90px;
    margin-left: 32%;
    object-fit: cover;
}

.profile-name {
    margin-top: 10px;
    text-align: center;
}

.profile-email {
    text-align: center;
}

.profile-bio {
    font-size: .8em;
    text-align: center;
    margin-bottom: 20px;
}

/* BUTTON */
.profile-button {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    padding: 8px 15px;
    transition-duration: 0.6s;
    background-color: #5B6CAB;
    color: white;
    font-size: .6em;
}

.profile-button:hover {
  background-color: #C7B2D6; 
}

.book-button {

}

.post-button {
    
}

/* ITEMS CARD */
.items-card {
    margin: 0 20px;
}

.items-card img{
    border-radius: 15px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.items-card img:hover{
    background-color: grey;
    opacity: 0.5;
}

.text{
    text-align: start;
    width: 100%;
}

.text-trunc{
    width: [width];
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-bar .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

/* SPINNER */
.spinner {
    display: block !important;
    margin: 50vh auto;
    width: 8rem !important;
    height: 8rem !important;
    background-color: #5B6CAB !important;
}

/*HOME PAGE CARD DIV*/
.timeline{
    padding: 200px !important;
}
.home-page-top{
    display: flex;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
}
.random-img{
    box-sizing: border-box;
    max-width: 90vw;
    height: 230vh;
    margin: 50px auto auto auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

/*RANDOM CARD*/
.random-card-div{
    width: 20%;
    padding-bottom: 24px;
    padding-left: 2px;

}

.random-card img{
    border-radius: 5%;
    width: 70%;
    min-height: 300px;
    object-fit: cover;
    padding-bottom: 5px;
}

.random-card p{
    max-width:70%;
    margin-left: 2px;
}

/* LOGIN */
.login-modal{
    position: fixed;
    right: 10%;
    opacity: 90%;
}
.modal-content  {
    border-radius: 30px !important; 
}

.login-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* FORMS */
.form-label {
    color: #6B6167;
}

.form-control {
    border: 1px solid #A1CDDA !important;
}

.form-control::placeholder {
    color: #A1CDDA !important;          
}

.btn-form {
    width: 100%;
    border: none;
    padding: 8px 15px;
    transition-duration: 0.6s;
    background-color: #A1CDDA;
    color: white;
    font-size: .9em;
    border-radius: 30px;
}

.btn-form:hover {
  background-color: #5bbedb; 
}

/* FOOTER */
.footer {
    background: #5B6CAB;
    color: white;
    text-align: center;
    font-size: .7em;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}