:root {
    --color-rose: #F1CEDA;
    --color-purple: #C7B2D6;
    --color-darkGrey: #6B6167;
    --color-blue: #5B6CAB;
    --color-mint: #A1CDDA;
    --color-lightGrey: #DEDAD5;
}

/* PROFILE PAGE */
.cover-img {
    width: 100%;
    border-radius: 30px;
}